.book-now button{
    border: none;
    border: 1px solid blue;
    background-color: rgb(231, 231, 250);
    font-weight: 600;
    border-radius: 40px;
    padding: 2px 12px;
    color: rgb(1, 9, 20);
}
.book-now .font-awesome{
    color: rgba(30, 65, 221, 0.849);
}
.book-now button:hover{
    background-color: rgba(0, 0, 255, 0.281);
    padding: 2px 14px;
    border: 2px solid blue;
    transition: 0.3s;
}
.price{
    color: rgb(118, 24, 240);
}
.card-icon-color{
    color: rgba(148, 113, 168, 0.973);
}
.service-img{
    width: 200px;
    height: 200px;
}
.product-container p{
    font-weight: 600;
    color: black;
}
.product-container p:hover{
    color: #EF4A23;
    text-decoration: underline;
}
.product-card{
    border: 0;
    margin: 0 auto;
}
.product-image{
    border-bottom: 3px solid rgba(55, 73, 187, 0.03);
}
.product-card .add-cart-btn{
    border: 0;
    background-color: rgba(55, 75, 185, 0.1);
    color: #3749BB;
    border-radius: 4px;
    width: 100%;
    font-weight: 600;
    padding: 3px 0;
}
.product-card .add-cart-btn:hover{
    background-color: #3749BB;
    color: white;
}
.see-more-link a{
    text-decoration: underline;
    color: #3749BB;
    font-weight: 600;
}
.see-more-link a:hover{
    color: #EF4A23;
}
.in-stoke{
    top: -195px;
    left: 4px;
    position: relative;
    background-color: rgb(231, 231, 250);
    border: 0;
    color: rgb(0, 0, 0);
    width: 58px;
    border-radius: 40px;
    font-size: 11px;
    font-weight: 600;
}
.product-title{
    text-decoration: none;
}
.product-price{
    color: #EF4A23;
}