.main-nav{
    width: 100%;
    border-bottom: 1px solid rgb(233, 233, 233);
}
.third-nav{
    background-color: #FFFFFF;
    color: black;
}
.login-icon{
    color: black;
}
.signin-button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.signin-button:hover, .signin-button:hover i{
    color: #FD8D27;
}
.width-control{
    width: 90%;
    margin: 0 auto;
}