.main-nav{
    background-color: #FFFFFF;
    position: relative;
}
.third-nav{
    background-color: #FFFFFF;
    color: black;
}
.login-icon{
    color: black;
}
.signin-button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.signin-button:hover, .signin-button:hover i{
    color: #FD8D27;
}
.dropdown-menu{
    background-color: yellow;
    border: 0;
    width: 100px;
}
.dropdown-menu a{
    font-weight: bold;
    color: white;
}
/* .main-nav-container{
    box-shadow: 10px 10px 30px lightblue;
} */