.second-nav{
    background-color: #081621;
    padding: 12px 0px 12px 62px;
}
.second-nav p{
    margin: 0;
}
.second-nav input{
    border-radius: 40px;
    padding: 8px 34px;
    border: 0;
    background-color: #F0F2F5;
}
.second-nav .search-icon{
    margin-left: -50px;
    color: #103178;
    font-size: 18px;
}
.heart , .cart, .user{
    color: #FD8D27;
}
.heart:hover, .cart:hover, .user:hover{
    color: #F0F2F5;
    cursor: pointer;
}
.language, .currency{
    color: #9babcd;
}
.language:hover , .currency:hover{
    color: #FD8D27;
    cursor: pointer;
}
.second-nav .mi{
    color: #EF4A23;
}
.second-nav span:hover, i:hover{
    cursor: pointer;
    color: #EF4A23;
}
.second-nav .need-help:hover{
    color: #EF4A23;
    cursor: pointer;
}