.feedback{
    background-color: #E6F1FC;
    padding: 25px 0px;
}
.feedback button{
    border: 0;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 12px;
}
.feedback button:hover{
    border: 2px solid black;
}