.dashboard-link a{
    text-decoration: none;
    margin-left: 30px;
}
.dashboard-link .logout-button{
    border: 0;
    border: 1px solid blue;
    border-radius: 40px;
    margin-left: 10px;
    padding: 5px 18px;
    font-weight: 700;
}